Projet 3_Node-red/Projet_3_Node-red.json
[{"id":"561b7d5c.aded64","type":"tab","label":"Projet node red","disabled":false,"info":""},{"id":"86059919.ccd5c8","type":"inject","z":"561b7d5c.aded64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":100,"wires":[["37cc3918.552136"]]},{"id":"37cc3918.552136","type":"exec","z":"561b7d5c.aded64","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU_Temperature","x":350,"y":100,"wires":[["2c08dd3c.5642d2"],[],[]]},{"id":"2c08dd3c.5642d2","type":"change","z":"561b7d5c.aded64","name":"Display_only_the_value","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp=","fromt":"str","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["34e8505f.248ae","f46fc8e0.d666d8"]]},{"id":"4b2eb07c.5b6c5","type":"change","z":"561b7d5c.aded64","name":"Display_only_the_Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["7a7239a0.d01358","8e27776b.4bc058"]]},{"id":"cf2451fd.225ce","type":"inject","z":"561b7d5c.aded64","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":300,"wires":[["c8fff3e.71de51"]]},{"id":"a6d8d17c.c9c7f","type":"ui_button","z":"561b7d5c.aded64","name":"","group":"8e897b3fd8992892","order":0,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":180,"wires":[["37cc3918.552136"]]},{"id":"aee297a9.a547a8","type":"ui_button","z":"561b7d5c.aded64","name":"","group":"a8bea3e00e495d8e","order":0,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":380,"wires":[["c8fff3e.71de51"]]},{"id":"34e8505f.248ae","type":"ui_gauge","z":"561b7d5c.aded64","name":"","group":"8e897b3fd8992892","order":1,"width":0,"height":0,"gtype":"gage","title":"Display_Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#191a19","#e60017","#cb803a"],"seg1":"","seg2":"","className":"","x":840,"y":100,"wires":[]},{"id":"8e27776b.4bc058","type":"ui_gauge","z":"561b7d5c.aded64","name":"","group":"a8bea3e00e495d8e","order":1,"width":0,"height":0,"gtype":"gage","title":"Display_Temperature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#121212","#e6e600","#b23acb"],"seg1":"","seg2":"","className":"","x":880,"y":280,"wires":[]},{"id":"7a7239a0.d01358","type":"ui_chart","z":"561b7d5c.aded64","name":"","group":"a8bea3e00e495d8e","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":830,"y":360,"wires":[[]]},{"id":"f46fc8e0.d666d8","type":"ui_chart","z":"561b7d5c.aded64","name":"","group":"8e897b3fd8992892","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":790,"y":180,"wires":[[]]},{"id":"c8fff3e.71de51","type":"openweathermap","z":"561b7d5c.aded64","name":"Temp_Paris","wtype":"current","lon":"","lat":"","city":"Paris","country":"France","language":"fr","x":320,"y":300,"wires":[["4b2eb07c.5b6c5"]]},{"id":"8e897b3fd8992892","type":"ui_group","name":"CPU_Temperature","tab":"6dec6630bd56df77","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8bea3e00e495d8e","type":"ui_group","name":"Paris_Temparature","tab":"6dec6630bd56df77","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6dec6630bd56df77","type":"ui_tab","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false}]