Projet4_Sence-hat.json
[{"id":"4d6c98fc.4580c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1257186b.0a2a38","type":"change","z":"4d6c98fc.4580c8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":252,"wires":[["5286a46a.22574c"]]},{"id":"d818a011.6e4f6","type":"switch","z":"4d6c98fc.4580c8","name":"env","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":280,"wires":[["1257186b.0a2a38","ebc9af3f.8eb3f","6a598f88.a0418"]]},{"id":"ebc9af3f.8eb3f","type":"change","z":"4d6c98fc.4580c8","name":"hum","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":666.5,"y":319,"wires":[["3f4ce8a5.02ef88"]]},{"id":"6a598f88.a0418","type":"change","z":"4d6c98fc.4580c8","name":"atm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665.5,"y":373,"wires":[["dde55c07.3459a"]]},{"id":"9d96007b.fe3e6","type":"comment","z":"4d6c98fc.4580c8","name":"Environment Sensors","info":"","x":380,"y":220,"wires":[]},{"id":"5286a46a.22574c","type":"smooth","z":"4d6c98fc.4580c8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":797,"y":252,"wires":[["2f82eae3.858336"]]},{"id":"3f4ce8a5.02ef88","type":"smooth","z":"4d6c98fc.4580c8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":796,"y":319,"wires":[["f674084f.170758"]]},{"id":"dde55c07.3459a","type":"smooth","z":"4d6c98fc.4580c8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":794,"y":373,"wires":[["2e648dd7.2b35f2"]]},{"id":"4f7953a6.9f8f8c","type":"rpi-sensehat in","z":"4d6c98fc.4580c8","name":"","motion":false,"env":true,"stick":false,"x":290,"y":300,"wires":[["d818a011.6e4f6"]]},{"id":"2f82eae3.858336","type":"mqtt out","z":"4d6c98fc.4580c8","name":"","topic":"temperature","qos":"","retain":"","broker":"b4508d25.74406","x":970,"y":220,"wires":[]},{"id":"f674084f.170758","type":"mqtt out","z":"4d6c98fc.4580c8","name":"","topic":"humidity","qos":"","retain":"","broker":"b4508d25.74406","x":960,"y":320,"wires":[]},{"id":"2e648dd7.2b35f2","type":"mqtt out","z":"4d6c98fc.4580c8","name":"","topic":"athmosphere","qos":"","retain":"","broker":"b4508d25.74406","x":970,"y":380,"wires":[]},{"id":"a30ed18.fc0503","type":"mqtt in","z":"4d6c98fc.4580c8","name":"","topic":"acceleration","qos":"2","datatype":"auto","broker":"af390e79.f3b71","x":330,"y":460,"wires":[["e36a8b75.24c158"]]},{"id":"e36a8b75.24c158","type":"ui_text","z":"4d6c98fc.4580c8","group":"69228fe1.0469d","order":3,"width":0,"height":0,"name":"","label":"acceleration","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":460,"wires":[]},{"id":"e4a06255.45303","type":"ui_text","z":"4d6c98fc.4580c8","group":"69228fe1.0469d","order":3,"width":0,"height":0,"name":"","label":"gyroscope","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":520,"wires":[]},{"id":"cd52417.32c8ac","type":"ui_text","z":"4d6c98fc.4580c8","group":"69228fe1.0469d","order":3,"width":0,"height":0,"name":"","label":"orientation","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":580,"wires":[]},{"id":"92bc6ef5.fffca","type":"ui_text","z":"4d6c98fc.4580c8","group":"69228fe1.0469d","order":3,"width":0,"height":0,"name":"","label":"compass","format":"{{msg.payload}}","layout":"row-spread","className":"","x":860,"y":640,"wires":[]},{"id":"80e9784.0815188","type":"mqtt in","z":"4d6c98fc.4580c8","name":"","topic":"gyro","qos":"2","datatype":"auto","broker":"af390e79.f3b71","x":310,"y":520,"wires":[["e4a06255.45303"]]},{"id":"592ceb50.0aa5b4","type":"mqtt in","z":"4d6c98fc.4580c8","name":"","topic":"orientation","qos":"2","datatype":"auto","broker":"af390e79.f3b71","x":320,"y":580,"wires":[["cd52417.32c8ac"]]},{"id":"4cd4f1b4.8c3e4","type":"mqtt in","z":"4d6c98fc.4580c8","name":"","topic":"compass","qos":"2","datatype":"auto","broker":"af390e79.f3b71","x":320,"y":640,"wires":[["92bc6ef5.fffca"]]},{"id":"86fea83c.07f8f8","type":"mqtt in","z":"4d6c98fc.4580c8","name":"","topic":"message","qos":"2","datatype":"auto","broker":"af390e79.f3b71","x":320,"y":760,"wires":[["f6f469f2.29cfd8"]]},{"id":"f6f469f2.29cfd8","type":"scrollMessage","z":"4d6c98fc.4580c8","colorHex":"#5a00ff","backHex":"#000000","shiftAmount":1,"delay":"20","rotation":0,"flip":0,"randomColor":false,"x":540,"y":760,"wires":[["9f65dc2e.1981"]]},{"id":"9f65dc2e.1981","type":"rpi-sensehat out","z":"4d6c98fc.4580c8","name":"MESSAGE LED","x":800,"y":760,"wires":[]},{"id":"b4508d25.74406","type":"mqtt-broker","name":"","broker":"192.168.23.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af390e79.f3b71","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69228fe1.0469d","type":"ui_group","name":"Motion","tab":"55925672.3514d8","order":4,"disp":true,"width":"10","collapse":false},{"id":"55925672.3514d8","type":"ui_tab","name":"PiSenseHAT","icon":"dashboard","disabled":false,"hidden":false}]